p{
     width:100%;
     text-align: center;
     justify-content: center;
}



.chart-container1{
     margin-top:20px;
}

.title{
     text-align: center;
}
.title-p{
     font-weight: 900;
}

.container{
     display:flex;
     flex-direction: row;
}
.left-column{
     width:49%;
}

.right-column{
     width:49%;
}