<div>

</div>

<div class="container">
  <div class="left-column">
    <div class="title">
      <p class="title-p">
        Consumo Actual: {{consumoActual}} W
      </p>
    </div>
    <!-- <div id="canvas-container" class="chart-container" style=" height:25vh; width:100%">
      <canvas id="canvas1" style="margin-top: 30px">{{ chart }}</canvas>
    </div> -->
  </div>
  <div class="right-column">
    <div class="title">
      <p class="title-p">
        Historial
      </p>
    </div>
    <div id="canvas-container" class="centre" style=" height:40vh; width:30vh">
      <canvas id="canvas2" style="margin-right: 40px">{{ chart }}</canvas>
    </div>
    <div id="calendar-container" class="centre" style=" height:40vh; width:25vh">
      <canvas id="canvas2" style="margin-top: 60px">{{ calendar-container }}</canvas>
    </div>
  </div>
</div>
