<div class="container">
  <div class="title">
    <p>Selecciona Hogar</p> 
    <clr-dropdown-menu class="dropdown-icon-fix" clrPosition="bottom-right" *clrIfOpen>
        <a clrDropdownItem>
          <clr-icon shape="users"></clr-icon>
          User
        </a>
        <a clrDropdownItem>
          <clr-icon shape="flag"></clr-icon>
          Language
        </a>
        <a  clrDropdownItem>
          <clr-icon shape="logout"></clr-icon>
          Log out
        </a>
      </clr-dropdown-menu>
  </div>
</div>